<% provide :title, t("category_list") %>
<br><br>
<div class = "row">
    <div class = "col">
        <h3>Categories (<%= @categories.count%>)</h3>
    </div>
</div>
<br>
<% if @categories.any? %>
    <div class="row">
        <% @categories.each do |category| %>
            <div class="col-md-6">
                <article class="card card-category p-2 h-100">
                    <div class="card-body">
                        <h5 class="card-title"><%= category.name %> </h5>
                        <p class="card-text">
                            <strong>[<%= category.words.count %> words]</strong>
                        </p>
                            <% if lesson_exist = current_user.lesson(category) %>
                                <%= link_to t("show_result"), lesson_exist, class: "btn btn-success btn-md" %>
                            <%else%>
                                <%= form_tag current_user.lessons.build do %>
                                    <%= hidden_field_tag :category_id, category.id %>
                                    <%= button_tag type: :submit, class: "btn btn-primary" do %>
                                    <%= t("learn") %>
                                    <% end %>
                                <% end %>
                            <% end %>
                    </div>
                </article>
                <br><br>
            </div>
        <%end%>
        <%= will_paginate %>
    </div>
<% else %>
    <div class="alert alert-danger">
       <h1><%= t "nothing" %></h1>
    </div>
<% end %>


